/*==========  Desktop First  ==========*/
@import 'vars'

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1400px)
	.section-1
		img
			max-width: 30vw
			margin-bottom: 5vh
	.start-logo_subheading
		font-size: 0.8em
		width: 100%
		bottom: 5vh
	.custom-text, .start-logo_subheading, .text-wrap, .section-3 p:first-child, .section-4 p, .section-5 p, .section-6 p, .row-figure figure figcaption, .section-title
		font-size: 0.8em
	.small, .section-3 p
		font-size: 0.6em
	.custom-section, .main-section
		min-height: 100%
		height: 100%
	.section-title
		margin-bottom: 25px
	.clients
		-webkit-justify-content: center
		-moz-justify-content: center
		-ms-justify-content: center
		-o-justify-content: center
		justify-content: center

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.start-logo_subheading
		font-size: 0.5em
		width: 100%
		bottom: 5vh
	.custom-text, .start-logo_subheading, .text-wrap, .section-3 p:first-child, .section-4 p, .section-5 p, .section-6 p, .row-figure figure figcaption, .section-title, .team-block
		font-size: 0.5em
	.small, .section-3 p
		font-size: 0.4em
	

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.clients a
		width: 12%
		margin: 0 1% 15px

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.clients a
		width: 20%
	.row-figure figure img
		max-width: 80px
	.row-figure figure figcaption,
	.team-name
		font-size: 0.4em

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

